<html lang="en">
<head>
    {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=">
  <link rel="stylesheet" href="{% static 'buttons.css' %}">
  <div class="header">
      <br>
  <h1>Courtroom Management System</h1>
  </div>
  <title></title>
</head>
<body>
    <div class="limit">
        <div class="col33">
            <br><br><br><br><br><br><br><br>
          <a href="http://127.0.0.1:8000/LoginClient"><!-- link in here -->
            <div class="button style_1">Client Login</div>
          </a>
          <br>
      
          <a href="http://127.0.0.1:8000/RegisterClient"><!-- link in here -->
            <div class="button style_2">Client Register</div>
          </a>
        </div>
        
      
        <div class="col33">
            <br><br><br><br><br><br><br><br>
          <a href="http://127.0.0.1:8000/LoginLawyer"><!-- link in here -->
            <div class="button style_3">Lawyer Login</div>
          </a>
          <br>
      
          <a href="http://127.0.0.1:8000/RegisterLawyer"><!-- link in here -->
            <div class="button style_4">Lawyer Regsiter</div>
          </a>
          <br>
        
            <a href="http://127.0.0.1:8000/LoginAdmin"><!-- link in here -->
                <div class="button style_7">Admin Login</div>
            </a>       
        
          
        </div>
        
      
        <div class="col33">
            <br><br><br><br><br><br><br><br>
          <a href="http://127.0.0.1:8000/LoginJudge"><!-- link in here -->
            <div class="button style_5">Judge Login</div>
          </a>
          <br>
      
          <a href="http://127.0.0.1:8000/RegsiterJudge"><!-- link in here -->
            <div class="button style_6">Judge Register</div>
          </a>
        </div>
        

    </div>

</body>
</html>